.page-service {
  .content {
    > p {
      &:first-of-type {
        font-size: 1.6rem;
        line-height: 1.4;
        margin-bottom: 40px;
        font-weight: regular;
        color: rgb(104, 104, 104);
      }
    }
  }
}

.page-hero-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 30px;
  @include media-breakpoint-up(md) {
    height: 380px;
  }
  @include media-breakpoint-up(lg) {
    height: 460px;
  }
}
