.main-menu {
  display: none;
  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    li {
      list-style: none;
      font-size: 1rem;
      a {
        padding: 10px 12px 10px 12px;
        display: inline-block;
        font-weight: normal;
        text-decoration: none;
        color: $primary;
        &:hover {
          text-decoration: underline;
        }
        &.button {
          color: #ffffff !important;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 8px;
          &:hover {
            color: #ffffff !important;
            text-decoration: none;
          }
        }
        &.button-outline {
          color: $secondary !important;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            color: #ffffff !important;
            text-decoration: none;
          }
        }
      }
      &.active {
        a {
          font-weight: bold;
          text-decoration: none;
          &:hover {
            text-decoration: none;
            transition: all 225ms ease-in 0s;
          }
        }
      }
    }
  }
  .main-menu-primary {
    margin-right: 8px;
    padding-right: 16px;
    border-right: 1px solid rgba($primary, 0.15);
  }
}
