---
layout: default
bodyClass: "page-basic"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    {% if page.intro_image and page.bodyClass == 'page-about' %}
    <div class="row">
        <div class="col-12">
            <img alt="{{ page.title }}" class="page-hero-image" src="{{ page.intro_image | relative_url }}" />
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-12 col-lg-9">
            <div class="service service-single">
                <h1 class="title">{{page.title}}</h1>
                <div class="content">{{content}}</div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <h1 class="title">{{page.title}}</h1>
                <div class="content">{{content}}</div>
            </div>
        </div>
        {% if page.intro_image %}
        <div class="col-12 col-md-4">
            <img alt="{{ page.title }}" class="img-fluid" src="{{ page.intro_image | relative_url }}" style="max-width: 200px;" />
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>